security:
	roles:
		guest:
		member: [guest]
		admin:

services:
	- App\Router\RouterFactory::createRouter
	- App\Forms\SignInFormFactory
	- App\Forms\FormFactory
	- App\Model\AnswerManager
	- App\Model\QuestionManager
	- App\Model\ResultManager
	- App\Forms\SignUpFormFactory
	authentificator: App\Model\UserManager
	security.authorizator:
		setup:
			- addResource(Error)
			- addResource(Admin:Dashboard)
			- addResource(Admin:Sign)
			- addResource(Admin:Question)
			- addResource(Admin:Answer)
			- addResource(Admin:User)
			- allow(admin)
			- allow(guest, Error)
			- allow(guest, Admin:Sign)
			- allow(member, Admin:Dashboard, default)
			- allow(member, Admin:Sign, out)