{block content}
<div class="text-center">
    <h1 class="h1 text-gray-900 mb-4">Odhaseno</h1>
</div>
<h2 n:block=title>Byl jste odhlasen ze systemu</h2>

<p><a n:href="in">Prihlaste se do sveho uctu</a></p>