#
# konfiguracni soubor pro CoreModule
#
parameters:
    defaultArticleUrl: 'uvod' # URL vychoziho clanku

# Nastaveni sluzeb pro CoreModule
services:
    - App\CoreModule\Model\ArticleManager # vlastni sluzba pristupna pomoci DI
    - App\CoreModule\Presenters\ArticlePresenter(%defaultArticleUrl%) # predani nastaveni pri vytvareni sluzby presenteru