parameters:

# Register Nittro Latte macros
latte:
    macros:
        - Nittro\Bridges\NittroLatte\NittroMacros

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no
