parameters:
	contactEmail: 'jprace@icloud.com'

security:
	roles:
		guest:
		member: [guest]
		admin:
services:
	- App\Model\ArticleManager(picturePath: "%wwwDir%/images/articles")
	- App\Model\CmsManager(picturePath: "%wwwDir%/images/cms")
	- App\Model\CategoryManager
	- App\Model\CommentManager
	- App\Model\ContactManager
	- App\Forms\FormFactory
	- App\Forms\SignInFormFactory
	- App\Forms\SignUpFormFactory
	- App\FrontModule\Presenters\ContactPresenter(%contactEmail%)
	router: App\Router\RouterFactory::createRouter
	authenticator: App\Model\UserManager
	security.authorizator:
		setup:
			- addResource(Error)
			- addResource(Admin:Dashboard)
			- addResource(Admin:Sign)
			- addResource(Admin:Category)
			- addResource(Admin:Comment)
			- addResource(Admin:Cms)
			- addResource(Admin:Article)
			- addResource(Admin:User)
			- addResource(Admin:Setting)
			- allow(admin)
			- allow(guest, Error)
			- allow(guest, Admin:Sign)
			- allow(member, Admin:Sign, out)
			- allow(member, Admin:Dashboard, default)
			- allow(member, Admin:Comment)
			- allow(member, Admin:Article)
