security:
	roles:
		guest:
		member: [guest]
		admin:
services:
	- App\Model\ArticleManager(picturePath: "%wwwDir%/images/articles")
	- App\Model\CategoryManager
	- App\Forms\FormFactory
	- App\Forms\SignInFormFactory
	- App\Forms\SignUpFormFactory
	router: App\Router\RouterFactory::createRouter
	authenticator: App\Model\UserManager
	security.authorizator:
		setup:
			- addResource(Error)
			- addResource(Admin:Dashboard)
			- addResource(Admin:Sign)
			- addResource(Admin:Category)
			- addResource(Admin:Article)
			- addResource(Admin:User)
			- allow(admin)
			- allow(guest, Error)
			- allow(guest, Admin:Sign)
			- allow(member, Admin:Sign, out)
			- allow(member, Admin:Dashboard, default)